/*
Custom Css
*/
body{
 background-image: url(../img/g\ gecko.png);
  background-position:center; 
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 0;
}
  

   #log{
    position: relative;
    top: 900px;
    left: 20px;
    
   }

.h1{
    color: #85B948;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-success>b{
    color: #85B948;
}
 .verde{
    border: solid #c30f90 10px; 
 }